<footer>
  <div class="column one">
    <div class="logo">
      <img src="/assets/Logo.png" alt="Logo" />
    </div>
    
    <p>Direccion: xxx-xxxx-xxxx</p>
    <p>ciudad: xxx-xxxx-xxxx</p>
    <p>Telefono: xxx-xxxx-xxxx</p>
    <p>correo: ejemplo@ejemplo.com</p>
  </div>
  <div class="column two">
    <h1>Links de interés</h1>
    <p>Novedades</p>
    <p>Sobre Nosotros</p>
    <p>Términos y condiciones</p>
    <p>Política de privacidad</p>
    <p>Preguntas Frecuentes</p>
    <p>Tiendas</p>
  </div>
  <div class="column three">
    <h1>Tu cuenta</h1>
    <p>Distribuidores</p>
    <p>Registro</p>
    <p>Informacion sobre enviós</p>
    <p>Cambios y devoluciones</p>
  </div>
</footer>