.container-total {
  column-gap: 5%;
  h1 {
    width: 100%;
    text-align: center;
    margin-top: 5%;
    font-family: 'varela';
    font-size: 3em;
  }
  
  .courses {
    display: flex;
    width: 100%;
    padding: 0 5%;

    .container {
      width: 50%;
      display: flex;
      gap: 7%;
    }
  }

  .two {
    padding: 1.5% 5%;
  }

    

    .example-card {
      width: 100%;
      border-radius: 10px;
      background-color: #e2e2e2;
      color: rgb(0, 0, 0);
      text-align: left;

      mat-card-header {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;

        mat-card-subtitle {
          color: rgb(172, 172, 172);
        }
      }

      mat-card-actions {

        button {
          text-align: left;
        }
      }
    }
  
}

@media (max-width: 768px) {
  .container-total {
    .courses {
      .container {
        width: 100%;
        display: grid;
        margin-top: 8%;
        padding: 2.5% 2%;

      }
    }
  }
}