<div class="Registration">
  <video
    src="../../../assets/video.mp4"
    autoplay
    loop
  ></video>

  <div class="logear">
    <div class="logo">
      <img src="../../../assets/logo.png" alt="Logo" />
    </div>
    <h1>Registrate</h1>
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Nombre:</mat-label>
            <input matInput />
          </mat-form-field>
        </td>
      </tr>
    </table>

    <div class="example-container">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="pat@example.com" />
      </mat-form-field>
    </div>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Repetir Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Empresa</mat-label>
      <mat-select>
        <mat-option>None</mat-option>
        <mat-option *ngFor="let state of states" [value]="state">{{
          state
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button class="boton">Registrate</button>

    <a href="login">Login</a>

  </div>
  <div class="home">
    <div class="example-button-container">
      <a href="/"> 
        <button mat-fab color="gold" aria-label="Example icon button with a home icon">
          <mat-icon>home</mat-icon>
        </button>
      </a> 
    </div>
  </div> 
</div>
