@font-face {
  font-family: 'varela';
  src: url('/assets/fonts/VarelaRound-Regular.ttf');
}

* {
  font-family: 'varela';
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
